.FulStackPage {
  .FillStackProgram {
    .FillStackProgramContent {
      .first_content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          font-size: 24px;
          font-weight: 500;
          color: #034d98;
          margin: 15px 0 10px 0;
        }

        .btn {
          background: none;
          border: none;
          font-size: 30px;
          font-weight: 600;
          color: #034d98;
        }
      }

      .underline {
        width: 100%;
        height: 0.13rem;
        background: rgba(34, 36, 38, 0.35);
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
      }
    }
  }
}


//  Media 576px
 @media (max-width: 576px) {
   .FulStackPage{
     h1{
       font-size: 40px;
     }
     h2{
       font-size: 32px;
     }
   }
 }


//  Media 414px
@media (max-width: 414px) {
  .FulStackPage{
    h1{
      font-size: 30px;
    }
    h2{
      font-size: 20px;
    }
    .FillStackProgram {
      .FillStackProgramContent {
        .first_content {
          h2 {
            font-size: 18px;
          }
          .btn{
            font-size: 20px;
          }
        }
      }
    }
  }
}