.UxUiLearn{
  margin-top: 8%;
  .UxUiLearnContent{
    .first_content {
      width: 60%;
      span{
        padding: 8px 12px;
        background: #17202A;
        border-radius: 50%;
        font-size: 12px;
        color: white;
      }
      h2{
        margin: 10px 0;
        font-size: 24px;
      }
      p{
        padding-bottom: 30px;
      }
    }
  }
}
 // media 576px

@media (max-width: 576px) {
  .UxUiLearn {
    h1{
      font-size: 40px;
    }
    .UxUiLearnContent {
      .first_content {
        width: 100%;
        margin: 0;
      }
    }
  }
}

// media 414px

@media (max-width: 414px) {
  .UxUiLearn {
    h1{
      font-size: 30px;
    }
    .UxUiLearnContent {
      .first_content {
        span{
          padding: 5px 8px;
        }
        h2{
          font-size: 18px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
}

// Media 375px

@media (max-width: 375px) {
  .UxUiLearn {
    h1 {
      margin: 20px 0;
    }
  }
}