.UxUiMentors {
  h1 {
    margin-bottom: 4rem;
  }

  .content {
    .item {
      display: flex;
      width: 60%;

      img {
        width: 250px;
      }

      .itemText {
        padding-left: 10px;

        h2 {
          font-size: 26px;
        }

        .span {
          line-height: 1.3rem;
          font-size: 16px;
        }
      }
    }
  }
}

// Media 768px

@media (max-width: 768px) {
  .UxUiMentors {
    .content {
      .item {
        width: 80%;
      }
    }
  }
}

// media 576px

@media (max-width: 576px) {
  .UxUiMentors {
    h1 {
      font-size: 40px;
    }

    .content {
      .item {
        width: 300px;
        display: block;
        margin-left: 23%;

        img {
          width: 300px;
        }

        .itemText {
          h2 {
            font-size: 24px;
          }
        }
      }
    }
  }
}


// media 414px

@media (max-width: 414px) {
  .UxUiMentors {
    h1 {
      font-size: 30px;
    }

    .content {
      .item {
        width: 220px;
        margin-left: 20%;

        img {
          width: 220px;
        }

        .itemText {
          padding-left: 0;
          h2 {
            font-size: 18px;
          }
          .span{
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
  }
}


// Media 375px

@media (max-width: 375px) {
  .UxUiMentors {
    h1 {
      margin: 20px 0;
    }
    .content {
      .item {
        margin-left: 15%;
      }
    }
  }
}