@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Inter:wght@200;300;400;500;600;700;900&family=Poppins:wght@100&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import "Header/header";
@import "Footer/footer";
@import "Main/Hero/hero";
@import "Main/LearnPrograms/programs";
@import "Main/StudentSuccess/student-success";
@import "Main/Comments/comments";
@import "Main/BenefitsOfTrainings/trainigs";
@import "Main/BenefitsOfCourses/course";
@import "Main/FinishContent/finish";
@import "About-Page/about-page-hero";
@import "About-Page/OurWhole/our-whole";
@import 'About-Page/TrainingProcess/training-process';
@import "About-Page/OurMentor/our-mentor";
@import "About-Page/Prize/prize";
@import "Main/Contact/contact";
//Front-end
@import "Course-content/Front-end/Front-end-hero";
@import "Course-content/Front-end/Front-end-program";
@import "Course-content/Front-end/Front-end-diplom";
@import "Course-content/Front-end/Front-end-learn";
@import "Course-content/Front-end/Front-end-mentors";
@import "Course-content/Front-end/Front-end-price";

//Full-stack
@import 'Course-content/Full-stack/full-stack.scss';
@import 'Course-content/Full-stack/diplom-project';
@import 'Course-content/Full-stack/mentors';
@import 'Course-content/Full-stack/whot-you-learn';
@import 'Course-content/Full-stack/Full-stack-program';
@import 'Course-content/Full-stack/Full-stack-hero';
@import 'Course-content/Full-stack/Full-stack-price';
//Android
@import 'Course-content/Android/android-hero';
@import 'Course-content/Android/android-program';
@import 'Course-content/Android/diploma-project';
@import 'Course-content/Android/mentors';
@import 'Course-content/Android/Android-learn';

//Computer
@import "./Course-content/Computer-title/computer-title-hero";
@import "./Course-content/Computer-title/computer-program";
@import "./Course-content/Computer-title/Computer-learn.scss";
//Motion-web
@import "Course-content/Motion-design/Motion-design-hero";
@import "Course-content/Motion-design/motion-design-program";
@import "Course-content/Motion-design/Motion-web-price";
@import "Course-content/Motion-design/Mweb-diplom-project";
@import "Course-content/Motion-design/MW-whot-you-learn";
@import "Course-content/Motion-design/Mw-mentors";
// UX/UI
@import "Course-content/Ux-Ui-design/Ux-Ui-design-hero";
@import "Course-content/Ux-Ui-design/Ux-Ui-program";
@import "Course-content/Ux-Ui-design/Ux-Ui-price";
@import "Course-content/Ux-Ui-design/Ux-Ui-diploma-project";
@import "Course-content/Ux-Ui-design/Ux-Ui-mentors";
@import "Course-content/Ux-Ui-design/Ux-Ui-learn";
//Business
@import "Course-content/Business/Business-hero";
@import "Course-content/Business/Business-program";
@import "Course-content/Business/Business-price";
@import "Course-content/Business/Business-mentors";
@import "Course-content/Business/Business-diplom-project";
@import "Course-content/Business/Business-learn";


body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #ffffff;
}

.container {
  width: 1170px;
  margin: 0 auto;
  //border: 1px solid #111111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #111111;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 30px;
  color: #17202A;
}

h1, h2, h3, h4, span, p {
  color: #17202A;
}




//Media 1024px

@media (max-width: 1024px) {
  .container{
      width: 960px;
      margin: 0 auto;
  }
}

//Media 992px

@media (max-width: 992px) {
  .container {
    width: 820px;
    margin: 0 auto;
  }
}

// Media 768px

@media (max-width: 768px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

// Media 576px
@media (max-width: 576px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
}

// Media 414px

@media (max-width: 414px) {
  .container {
    width: 360px;
    margin: 0 auto;
  }
}
// Media 375px
@media (max-width: 375px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}